[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cmocean"]
	path = cmocean
	url = https://github.com/aitap/cmocean
[submodule "depcache"]
	path = depcache
	url = https://github.com/aitap/depcache
