[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "cmocean"]
	path = cmocean
	url = https://github.com/aitap/cmocean
	shallow = true
	registered = true
[submodule "Ropj"]
	path = Ropj
	url = https://github.com/aitap/ropj
	shallow = true
	registered = true
